# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a currupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

#  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [1]:
#Your code here
import pandas as pd

In [3]:
zipcode_df = pd.read_csv("Data/Zipcode_Demos.csv")
zipcode_df.head()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
zipcode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 47 columns):
0                     57 non-null int64
Average Statistics    56 non-null object
Unnamed: 2            57 non-null object
Unnamed: 3            11 non-null object
Unnamed: 4            11 non-null object
Unnamed: 5            11 non-null object
Unnamed: 6            11 non-null object
Unnamed: 7            11 non-null object
Unnamed: 8            11 non-null object
Unnamed: 9            11 non-null object
Unnamed: 10           11 non-null object
Unnamed: 11           11 non-null object
Unnamed: 12           11 non-null object
Unnamed: 13           11 non-null object
Unnamed: 14           11 non-null object
Unnamed: 15           11 non-null object
Unnamed: 16           11 non-null object
Unnamed: 17           11 non-null object
Unnamed: 18           11 non-null object
Unnamed: 19           11 non-null object
Unnamed: 20           11 non-null object
Unnamed: 21           11 non-null object
Unnamed: 22           11 non-null object
Unnamed: 23           11 non-null object
Unnamed: 24           11 non-null object
Unnamed: 25           11 non-null object
Unnamed: 26           11 non-null object
Unnamed: 27           11 non-null object
Unnamed: 28           11 non-null object
Unnamed: 29           11 non-null object
Unnamed: 30           11 non-null object
Unnamed: 31           11 non-null object
Unnamed: 32           11 non-null object
Unnamed: 33           11 non-null object
Unnamed: 34           11 non-null object
Unnamed: 35           11 non-null object
Unnamed: 36           11 non-null object
Unnamed: 37           11 non-null object
Unnamed: 38           11 non-null object
Unnamed: 39           11 non-null object
Unnamed: 40           11 non-null object
Unnamed: 41           11 non-null object
Unnamed: 42           11 non-null object
Unnamed: 43           11 non-null object
Unnamed: 44           11 non-null object
Unnamed: 45           11 non-null object
Unnamed: 46           11 non-null object
dtypes: int64(1), object(46)
memory usage: 21.0+ KB

In [5]:
zipcode_df["Average Statistics"]

0                                     NaN
1                       JURISDICTION NAME
2                      COUNT PARTICIPANTS
3                            COUNT FEMALE
4                          PERCENT FEMALE
5                              COUNT MALE
6                            PERCENT MALE
7                    COUNT GENDER UNKNOWN
8                  PERCENT GENDER UNKNOWN
9                      COUNT GENDER TOTAL
10                   PERCENT GENDER TOTAL
11                 COUNT PACIFIC ISLANDER
12               PERCENT PACIFIC ISLANDER
13                  COUNT HISPANIC LATINO
14                PERCENT HISPANIC LATINO
15                  COUNT AMERICAN INDIAN
16                PERCENT AMERICAN INDIAN
17               COUNT ASIAN NON HISPANIC
18             PERCENT ASIAN NON HISPANIC
19               COUNT WHITE NON HISPANIC
20             PERCENT WHITE NON HISPANIC
21               COUNT BLACK NON HISPANIC
22             PERCENT BLACK NON HISPANIC
23                  COUNT OTHER ETHNICITY
24                PERCENT OTHER ETHNICITY
25                COUNT ETHNICITY UNKNOWN
26              PERCENT ETHNICITY UNKNOWN
27                  COUNT ETHNICITY TOTAL
28                PERCENT ETHNICITY TOTAL
29         COUNT PERMANENT RESIDENT ALIEN
30       PERCENT PERMANENT RESIDENT ALIEN
31                       COUNT US CITIZEN
32                     PERCENT US CITIZEN
33             COUNT OTHER CITIZEN STATUS
34           PERCENT OTHER CITIZEN STATUS
35           COUNT CITIZEN STATUS UNKNOWN
36         PERCENT CITIZEN STATUS UNKNOWN
37             COUNT CITIZEN STATUS TOTAL
38           PERCENT CITIZEN STATUS TOTAL
39       COUNT RECEIVES PUBLIC ASSISTANCE
40     PERCENT RECEIVES PUBLIC ASSISTANCE
41      COUNT NRECEIVES PUBLIC ASSISTANCE
42    PERCENT NRECEIVES PUBLIC ASSISTANCE
43        COUNT PUBLIC ASSISTANCE UNKNOWN
44      PERCENT PUBLIC ASSISTANCE UNKNOWN
45          COUNT PUBLIC ASSISTANCE TOTAL
46                      JURISDICTION NAME
47                                  10001
48                                  10002
49                                  10003
50                                  10004
51                                  10005
52                                  10006
53                                  10007
54                                  10009
55                                  10010
56                                  10011
Name: Average Statistics, dtype: object

In [6]:
zipcode_df.tail()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
52,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
53,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
54,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
55,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0,3,1,0,0,3,100

The really annoying thing about ACS data is that it gives you overall statistics and geographic specific statistics. It's a bad 2-for-1 deal.

In [10]:
zipcode_average_df = pd.read_csv('Data/Zipcode_Demos.csv', 
                                 header =0,
                                 skiprows=1, 
                                 nrows=45,
                                 usecols=range(0,3))
zipcode_average_df.head()

   1          Unnamed: 1          0
0  2   JURISDICTION NAME  10005.800
1  3  COUNT PARTICIPANTS      9.400
2  4        COUNT FEMALE      4.800
3  5      PERCENT FEMALE      0.404
4  6          COUNT MALE      4.600

## Level Up (Optional)

### Loading Corrupt CSV files

Occassionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is suppossed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restuarant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restuarant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [ ]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
except Exception as e:
    #handle your exception e

In [ ]:
#Your code here